//screen sizes for max width of NAVBAR
$mobile: 600px; //shows: logo, category logo, search, account button
$small: 790px; //shows mobile and: 3 buttons
$medium: 1000px; //shows small and: 3 more buttons
$large: 1070px; //shows medium and: category name
$full: 1200px; //shows large and: username

.navbar {
  border: 1px solid black;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;

  .nav-access {
    margin-left: auto; //sets this to the far right side
    // display: flex;

    .left-section,
    .right-section {
      width: 130px;
    }

    .left-section {
      border-right: 1px solid rgb(175, 175, 175);
    }

    .left-buttons,
    .right-buttons {
      padding: 0 10px;
      font-size: 1.2rem;
    }

    .user-settings {
      width: 90px;
    }
  }

  .search-bar,
  .logo,
  .nav-access {
    display: flex;
    align-items: center;
  }

  .search-bar {
    height: 36px;
    border: 1px solid grey;
    background-color: rgb(246, 247, 248);
    width: 100%;

    .search-icon,
    .search-clear {
      padding: 0 6px;
    }

    .search-input {
      width: 100%;
      border: none;
      background-color: none;
    }
  }

  .logo {
    background-color: grey;
    // display: flex;
    // align-items: center;
    margin-left: 20px;

    a {
      color: rgb(255, 69, 0);
      // border: 1px solid lightcyan;
      font-size: 32px;
      text-decoration: none;
    }
    span {
      color: black;
    }
  }

  .logIn,
  .signIn {
    border-radius: 10px;
    width: 95px;
  }

  @media screen and (max-width: $mobile) {
    // Shows only: logo, category, search bar, account button
  }
}
